body{
    --slatedark: #221b32;
    --slatemid: #564661;
    --mediapink: rgb(254,203,230);
    background: var(--slatedark);
    font-family: Helvetica, sans-serif;
    color: var(--mediapink);
}

::-moz-selection { /* Code for Firefox */
    background: var(--slatemid);
}

::selection {
    background: var(--slatemid);
}

h1{
    font-size: 3vw;
    font-weight: bolder;
}

h2{
    font-size: 2.5vw;
    text-align: center;
    width: 50vw;
    height: 6vw;
    position: relative;
    top: 0vw;
    left: 25vw;
    display: grid;
    align-content: end;
    border-bottom: solid 3px var(--mediapink);
    padding-bottom: 0.5vw;
    margin-top: 0;
}

h3{
    font-size: 1.7vw;
}

h4{
    font-size: 1.5vw;
    text-align: center;
    width: 50vw;
    left: 25vw;
    position: relative;
    top: 0vw;
    margin-bottom: 0vw;
    font-weight:  500;
}

p {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.4;
}

a {
    color: var(--mediapink);
}

select {
    box-sizing: border-box;
    background-color: var(--slatemid);
    border: none;
    color: var(--mediapink);
    text-align: center;
    font-weight: bold;
    padding: 0.5vw;
}

#mainTitle{
    text-align: center;
    width: 50vw;
    height: 6vw;
    position: relative;
    top: 0vw;
    left: 25vw;
    display: grid;
    align-content: end;
    border-bottom: solid 3px var(--mediapink);
    padding-bottom: 0.5vw;
}

#nav-toc-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    left: 25vw;
}

.addonSectionGrid{
    width: 80vw;
    position: relative;
    left: 10vw;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    grid-template-columns: 18vw 18vw 18vw 18vw;
}

#addonsOptions{
    position: relative;
    width: 50vw;
    left: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1.5vw;
}

.platformButton{
    cursor: pointer;
    width: 2vw;
    margin-right: 0.5vw;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 0.2vw;
    /* transition-property: top, left, filter; */
    transition-duration: 0.25s;
    filter: brightness(0.75) grayscale();
}

.platformButton:hover{
    padding-top: 0;
    width: 2.2vw;
    top: 0.1vw;
    left: -0.1vw;
    margin-right: 0.3vw;
}

.addonCard{
    width: 100%;
    height: min-content;
    min-height: 22.5vw;
    position: relative;
    background: var(--slatedark);
    --this-border-radius: 1vw;
    border-radius: var(--this-border-radius);
    --top-color: var(--slatemid);
    --bottom-color: var(--mediapink);
    --backOpacity: 0;
    transition-property: padding-left, margin-left, padding-right, margin-right;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.addonCard.filterable{
    display: none;
}

.addonCard:hover{
    padding-left: 0.25vw;
    margin-left: -0.25vw;
    padding-right: 0.25vw;
    --backOpacity: 1;
}

.addonCard .addonIcon{
    aspect-ratio: 1;
    width: 27%;
    position: relative;
    top: 1vw;
    left: 0;
    border-radius: 15%;
    margin-bottom: 5%;
    display:inline;
    float: left;
    box-shadow: 0 0 0.6vw -0.2vw var(--mediapink);
    transition: box-shadow 0.25s;
}

.addonCard:hover .addonIcon {
    box-shadow: 0 0 0.7vw -0.2vw var(--mediapink);
}

.addonCard .addonTitle{
    width: 66%;
    height: auto;
    position: relative;
    padding-top: 10%;
    margin-top: 0;
    margin-bottom: 0;
    left: 5%;
    float: left;
    word-break: break-word;
    align-content: center;
}


.addonCardHeader{
    height: max-content;
    width: 90%;
    left: 5%;
    padding-bottom: 1vw;
    position: relative;
    border-bottom: solid 2px var(--mediapink);
    display: flex;
}

.platformShelf{
    position: relative;
    width: 90%;
    left: 5%;
    top: 0.5vw;
    display: grid;
    height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-template-columns: repeat(auto-fit, 10%);
    justify-content: center;
    grid-gap: 0.25vw;
}

.platformIcon{
    width: 100%;
    height: auto;
}

.addonCard p{
    position: relative;
    width: 90%;
    left: 5%;
}

.linkShelf{
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    height: min-content;
    transition: left 0.25s;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10%);
    grid-auto-flow: row;
    justify-content: center;
    align-content: end;
    grid-gap: 3%;
    margin-bottom: 5%;
    margin-top: auto;
}

.cardBanner{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
}

/* 

.bookLink{
    position: relative;
    margin-left: auto;
    margin-bottom: auto;
}

.fakeItem{
    margin-top: auto; 
    visibility: hidden;
} */

.linkShelf a {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10%;
    /* transition-property: top, left, filter; */
    transition-duration: 0.25s;
}

.linkShelf a:hover{
    width: 110%;
    padding-top: 0;
    top: 5%;
    left: -5%;
    filter: brightness(1.1);
}

.linkIcon{
    width: 100%;
}

.bookIcon{
    image-rendering: pixelated;
}

.addonLink{
    color: var(--mediapink);
}

.addonLink:hover{
    font-weight: 600;
}

.interopCard .addonTitle{
    left: 0vw;
    width: 100%;
    text-align: center;
}

.interopCard{
    /* min-height: min(25vw, 100%); */
    min-height: 20vw;
}

.interopTitle{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.hexProvidedTitle::after{
    content: "*";
    width: min-content;
    padding-left: 0;
}

.toolCard{
    min-height: 15vw;
    height: fit-content;
    /* margin-bottom: 2vw; */
}

.toolCard a{
    color: var(--mediapink);
}

.toolCard .addonTitle{
    left: 5%;
    width: 90%;
    text-align: center;
}


.addonCard::before{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(0deg, var(--top-color) 0%, var(--bottom-color) 100%);
    z-index: -2;
}

.addonCard::after{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(0deg, var(--bottom-color) 0%, var(--bottom-color) 100%);
    z-index: -1;
    opacity: var(--backOpacity);
    transition: opacity 0.25s;
}

/* there's almost certainly a better way to do this */

.forge .addonCard.forge {
    display: flex!important;
}

.neoforge .addonCard.neoforge {
    display: flex!important;
}

.quilt .addonCard.quilt {
    display: flex!important;
}

.fabric .addonCard.fabric {
    display: flex!important;
}

/* platform buttons */

.forge #forgeButton {
    filter: none;
}

.neoforge #neoforgeButton {
    filter: none;
}

.quilt #quiltButton {
    filter: none;
}

.fabric #fabricButton {
    filter: none;
}

@media (max-aspect-ratio: 18/10) {
    .addonSectionGrid{
        left: 15vw;
        width: 70vw;
        grid-template-columns: 20vw 20vw 20vw;
    }

    h1{
        font-size: 3vw;
    }

    h2{
        font-size: 2.5vw;
    }

    h3{
        font-size: 2vw;
    }

    h4{
        font-size: 1.5vw;
    }
    
    p {
        font-size: 1.3vw;
    }

    .addonCard{
        min-height: 25vw;
    }

    .interopCard{
        min-height: 20vw;
    }
    
    .toolCard{
        min-height: 15vw;
    }
}

  
@media (max-aspect-ratio: 10/10) {
    .addonSectionGrid{
        left: 5vw;
        width: 90vw;
        grid-template-columns: 40vw 40vw;
    }

    h1{
        font-size: 6vw;
    }

    h2{
        font-size: 4vw;
    }

    h3{
        font-size: 4vw;
    }

    h4{
        font-size: 2vw;
    }
    
    p {
        font-size: 2.25vw;
        font-weight: 400;
        line-height: 1.2;
    }

    .addonCard{
        min-height: 40vw;
    }

    .interopCard{
        min-height: 30vw;
    }
    
    .toolCard{
        min-height: 30vw;
    }
}

@media (max-aspect-ratio: 6/10) {
    .addonSectionGrid{
        left: 5vw;
        width: 90vw;
        grid-template-columns: 75vw;
    }

    h1{
        font-size: 7vw;
    }

    h2{
        font-size: 5vw;
    }

    h3{
        font-size: 6vw;
    }

    h4{
        font-size: 4vw;
    }
    
    p {
        font-size: 4vw;
    }

    .addonCard{
        min-height: 0;
    }

    .addonIcon{
        top: 2vw !important;
    }
}

#sourceMessage{
    width: 50%;
    left: 25%;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.samtext {
    color: #69eb96;
}

#sourceLink{
    font-size: 1.5vw;
}